<head>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
 
  </head>

<div class="container">
    <div class="title">
        <h1>Registro de Animales Reportados</h1>
    </div>
    
  <form
    action="/profile/reported"
    class="form"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="register-pet">
      <h2>Registra la mascota aqui</h2>

      <p>Antes de iniciar con el registro de una mascota, debes tomar en cuneta
        que en esta plataforma Segun terminos no se permite el SPAM de las
        publicaciones.
      </p>

      <h3>Datos de la mascota
      </h3>
      <br />
     
      <div class="item">
        <p>Especie</p>
        <input
          type="text"
          name="specie"
          placeholder="Ingresa la especie"
          required
        />
      </div>

      <div class="item">
        <p>Tamaño</p>
        <select name="size">
          <option value="Pequeño">Pequeño</option>
          <option value="Mediano">Mediano</option>
          <option value="Grande">Grande</option>
        </select>
      </div>
      <div class="item">
        <p>Sexo</p>
        <select name="sex">
          <option value="Male">Macho</option>
          <option value="Female">Hembra</option>
          <option value="undefined">Nose</option>
        </select>
      </div>
      <div class="item">
        <p>Cuando se encontró</p>
        <input type="date" name="date" required />
        <i class=""></i>
      </div>
      <div class="item">
        <p>Color</p>
        <input type="text" name="color" placeholder="Color" required />
      </div>
      <div class="item">
        <p>Direccion</p>
        <input
          type="text"
          name="direction"
          placeholder="Ingresa direccion"
          required
        />
      </div>
      <div class="description">
        <p>Observaciones</p>
        <div class="observation">
          <textarea required name="observation"></textarea>

        </div>
      </div>
      <div class="btn">
        <button type="submit">Registrar</button>
      </div>
    </div>

    <div class="images">
      <h2>Sube las fotos de la mascota</h2>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>

       <h2>Mueve el marcador del Mapa en la dirección donde se perdió tu mascota.</h2> 
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="latitud">Latitud:  </label>
                        <input type="text" name="latitud" id="latitud" class="form-control" readonly onmousedown="return false;">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="longitud">Longitud:</label>
                        <input type="text" name="longitud" id="longitud" class="form-control" readonly onmousedown="return false;">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div id="map" style="height: 250px;width: 500px;"></div>
                 </div>
            </div>    
        



    </div>

   


  </form>
</div>



<script>
    function iniciarMapa(){
        var latitud = -16.5;
        var longitud = -68.15;

        coordenadas = {
            lng: longitud,
            lat:latitud
        }

        generarMapa(coordenadas);
    }

    function generarMapa(coordenadas){
        var mapa = new google.maps.Map(document.getElementById('map'),
        {
            zoom: 12,
            center: new google.maps.LatLng(coordenadas.lat, coordenadas.lng)
        });
        
        marcador = new google.maps.Marker({
            map: mapa,
            draggable: true,
            position: new google.maps.LatLng(coordenadas.lat, coordenadas.lng)
        });

        marcador.addListener('dragend', function(event){
            document.getElementById("latitud").value = this.getPosition().lat();
            document.getElementById("longitud").value = this.getPosition().lng(); 
        })
    }

   /* function initMap() {
    const myLatlng = { lat: -25.363, lng: 131.044 };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4,
      center: myLatlng,
    });
    // Create the initial InfoWindow.
    let infoWindow = new google.maps.InfoWindow({
      content: "Click the map to get Lat/Lng!",
      position: myLatlng,
    });
    infoWindow.open(map);
    // Configure the click listener.
    map.addListener("click", (mapsMouseEvent) => {
      // Close the current InfoWindow.
      infoWindow.close();
      // Create a new InfoWindow.
      infoWindow = new google.maps.InfoWindow({
        position: mapsMouseEvent.latLng,
      });
      infoWindow.setContent(
        JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
      );
      infoWindow.open(map);
    });
  }*/




</script>
<!--//AIzaSyCg2vWi7xAjxeEFENIcDvUPDawxlCBjJuU//-->



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQq74G_t5lLaP1lwL_ZkC3NqbyLHTYGko&callback=iniciarMapa" type="text/javascript"></script>






<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script>
  $("form").on("change", ".file-upload-field", function(){ 
    $(this).parent(".file-upload-wrapper").attr("data-text",         $(this).val().replace(/.*(\/|\\)/, '') );
});
</script>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg2vWi7xAjxeEFENIcDvUPDawxlCBjJuU&callback=initMap&libraries=&v=weekly"
      async
    ></script>  