<head>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width: 400px;
        height: 400px;
      }

    </style>
    <script>
      function initMap() {
        const myLatlng = { lat: -25.363, lng: 131.044 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 8,
          center: myLatlng,
        });
        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
          content: "Click the map to get Lat/Lng!",
          position: myLatlng,
        });
        infoWindow.open(map);
        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
          // Close the current InfoWindow.
          infoWindow.close();
          // Create a new InfoWindow.
          infoWindow = new google.maps.InfoWindow({
            position: mapsMouseEvent.latLng,
          });
          infoWindow.setContent(
            JSON.stringify("Aqui esta tu mascota")
          );
          infoWindow.open(map);
          console.log(map.center.lat(), map.center.lng())
        });
      }
    </script>
  </head>

<div class="container">
    <div class="title">
        <h1>Registro de Animales Reportados</h1>
    </div>
    
  <form
    action="/profile/reported"
    class="form"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="register-pet">
      <h2>Registra la mascota aqui</h2>

      <p>Antes de iniciar con el registro de una mascota, debes tomar en cuneta
        que en esta plataforma Segun terminos no se permite el SPAM de las
        publicaciones.
      </p>

      <h3>Datos de la mascota
      </h3>
      <br />
     
      <div class="item">
        <p>Especie</p>
        <input
          type="text"
          name="specie"
          placeholder="Ingresa la especie"
          required
        />
      </div>

      <div class="item">
        <p>Tama침o</p>
        <select name="size">
          <option value="Peque침o">Peque침o</option>
          <option value="Mediano">Mediano</option>
          <option value="Grande">Grande</option>
        </select>
      </div>
      <div class="item">
        <p>Sexo</p>
        <select name="sex">
          <option value="Male">Macho</option>
          <option value="Female">Hembra</option>
          <option value="undefined">Nose</option>
        </select>
      </div>
      <div class="item">
        <p>Cuando se encontr칩</p>
        <input type="date" name="date" required />
        <i class=""></i>
      </div>
      <div class="item">
        <p>Color</p>
        <input type="text" name="color" placeholder="Color" required />
      </div>
      <div class="item">
        <p>Direccion</p>
        <input
          type="text"
          name="direction"
          placeholder="Ingresa direccion"
          required
        />
      </div>
      <div class="description">
        <p>Observaciones</p>
        <div class="observation">
          <textarea required name="observation"></textarea>

        </div>
      </div>
      <div class="btn">
        <button type="submit">Registrar</button>
      </div>
    </div>
  <div id="map" name=""></div>

    <div class="images">
      <h2>Sube las fotos de la mascota</h2>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
      <div class="image">
        <div class="file-upload-wrapper" data-text="Sube a tu mascota..!">
          <input name="image" type="file" class="file-upload-field" value="" />
        </div>
      </div>
    </div>

  </form>
</div>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script>
  $("form").on("change", ".file-upload-field", function(){ 
    $(this).parent(".file-upload-wrapper").attr("data-text",         $(this).val().replace(/.*(\/|\\)/, '') );
});
</script>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg2vWi7xAjxeEFENIcDvUPDawxlCBjJuU&callback=initMap&libraries=&v=weekly"
      async
    ></script>  