<style>


#intro {
  padding: 60px 0;
   background: url("/img/fondocontact.jpg");
   height: 472px;
   
   
}

#intro .block h2 {
  padding-top: 10px;
  line-height: 90px;
  margin: 0 0px 0px 90px;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  letter-spacing: 2px;
  color: #EF5030;
} 
#intro .block p {
  color: #2b2b2b;
  font-weight: 800;
  margin:  5px 600px 0px 170px;
  line-height: 28px;
  letter-spacing: 2px;
  padding-top: 5px;;
}

#intro .block img {
  margin: 105px 65px 0px 50px;
  height: 250px;
  width: 500px;
  float:right; 
 border-width: 4px;
  border-style: dashed;
   transition: opacity 0.7s, transform 1.5s;
}


#intro .img1:hover {
    transform: scale3d(1.2, 1.2, 1) rotate(7deg);
}

#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
  font-size: 15px;

}

footer {
  background: #363636;;
  height: 128px;
  
}

footer .container img{
  float: left;
  height: 100px;
  width: 250px;
  margin: 0 0 0 150px;
}

footer p {
  font-size: 13px;
  line-height: 25px;
  color: #f19f1f;
  margin-right:400px ;
  
  
}

footer .footer-manu p{ 
  text-align: center;
}

footer a {
  color: #f19f1f;

}
footer .footer-manu {
  padding-bottom: 1px;
}

@media (max-width:1166px) {
    #so{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    #intro .block img{
      margin: 0;
      transform: translateY(400px), translateX(100px);
      width: 300px;
      height: 300px;
    }
    .row{
      width: 100%;
    }
    .section-title{
      width: 100%;
      margin: 0;
      padding: 0;
      
    }
    #intro .block h2{
     padding-top: 10px;
  line-height: 0;
  margin:0;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  letter-spacing: 0px;
  color: #EF5030;
    }
    #intro .block p {
      margin: 0;
    }
footer .container img{
  margin: 0;
  padding: 0;
}
footer .row{
  display: flex;
  flex-direction: column;
}
footer br{
  display: none;
}
footer p{
  width: 100%;
}
    
}


@media (max-width:425px) {
    #so{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    #intro .block img{
      margin: 0;
      transform: translateY(400px), translateX(100px);
      width: 100px;
      height: 100px;
    }
    .row{
      width: 100%;
    }
    .section-title{
      width: 100%;
      margin: 0;
      padding: 0;
      
    }
    #intro .block h2{
     padding-top: 10px;
  line-height: 0;
  margin:0;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  letter-spacing: 0px;
  color: #EF5030;
    }
    #intro .block p {
      margin: 0;
    }
footer .container img{
  margin: 0;
  padding: 0;
}
footer .row{
  display: flex;
  flex-direction: column;
}
footer br{
  display: none;
}
footer p{
  width: 100%;
}
    
}

</style>
<header>
 <section id="intro">
      <div class="container">
         <div class="block">
            <img class = "img1"src="img/telf.jpg " alt="Img">
          </div>
        <div class="row">
         
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>CONTACTOS</h2>
                <p>+591 60160883 </p>
                <p>neilgraneros11@gmail.com</p> 
                <p>Neil Graneros</p>  
                <p>@YrRvNeil</p> 
                <p> @neil__yr </p>
              </div>
            </div>
      </div>
    </section>
 <footer>
      <div class="container">
        <div class="row">
            
           <img src="img/dup3.png" alt="">
            <div class="footer-manu">
                <br>
              <p>  Copyright &copy; Crafted by <a href="https://www.facebook.com/neilgraneros11/">NEIL GRANEROS.</a>.</p>
            </div>
        </div>
      </div>
    </footer>



</header>