
:root{
    --background: #f0f0f0;
    --nav_color: #1e1d26;
    --text-color:#fcfcfc;
    --turquoise-1: #16a085;
    --turquoise-2:#1abc9c;
    --logout-1:#d35400;
    --logout-2:#e67e22;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
}
.container{
    position: relative;
    width: 95%;
    margin: 0 auto;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #FF9820;
}
.bar-navigation{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FF9820;


}




nav .logo img{
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    height: 65px;
    width: 230px;
}

.bar-navigation .navitems ul{
    list-style: none;
        display: flex;
        flex-direction: row;
}
.bar-navigation .navitems ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: var(--text-color);
}

.signin{

}
.signup{
    border-radius: 5px;
    padding: 7px 10px;
    border: 1px solid var(--turquoise-1);
}
.signup:hover{
    background-color: var(--turquoise-2);
}

.logout{
    border-radius: 5px;
    padding: 7px 10px;
    background-color:  var(--logout-1);
}
.logout:hover{
    background-color: var(--logout-2);
}
