<nav>
    <div class="bar-navigation container">
        <div class="logo">
            <a href="/">Logo</a>
        </div>
        <div class="navitems">
            {{#if user}}
            <ul>
                <li>
                    <a class="enlace" href="#">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="#">Nosotros</a>
                </li>
                <li>
                    <a class="enlace" href="#">Contacto</a>
                </li>
                <li>
                    <a class="enlace logout" href="/logout">Logout</a>
                </li>
            </ul>
            {{else}}
            <ul>
                 <li>
                    <a class="enlace" href="#">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="#">Nosotros</a>
                </li>
                <li>
                    <a class="enlace" href="#">Contacto</a>
                </li>
                <li>
                    <a class="enlace signin" href="/signin">Signin</a>
                </li>
                <li>
                    <a class="enlace signup" href="/signup">Signup</a>
                </li>
            </ul>


            {{/if}}
        </div>
    </div>
</nav>