<nav>
    <div class="bar-navigation container">
        <div class="logo">
            <a href="/">Logo</a>
        </div>
        <div class="navitems">
            <ul>
                <li>
                    <a class="enlace" href="#">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="#">Nosotros</a>
                </li>
                <li>
                    <a class="enlace" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </div>

</nav>