<style>
    section {
        margin: 0;
        padding: 0;
        width: 100%;
        height: calc(100vh - 60px);
        border: none;
        background-size: cover;
        object-fit: cover;
        display: flex;
        flex-direction: row;

    }

    .background {
        width:50%;
        height: 100%;
        background-color: sandybrown;
    }

    .background img {
        width:
            100%;
        height: 100%;
        object-fit: cover;
    }

    .dates-form {
        width: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
      
    }
    form{
        padding: 20px;
        width: 100%;
    }
    input[type="submit"] {
  cursor: pointer;
}
    form .form-title{
        width: 100%;
    }
    form .form-title p{
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 20px;
        text-transform: uppercase;
        color: var(--logout-2);
        text-align: center;
    }
    form .form-img{
        width: 100%;
        text-align: center;
    }
    form .form-img img{
        width: 200px;
        height: 100px;
        object-fit: cover;
    }
    form .form-field{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-field .item{
        width: 100%;
      
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item input[type="password"],
    .item input[type="text"]{
        padding: 10px 10px 10px 30px;
        border: none;
        width: 60%;
        background-color: var(--background);
        border-bottom: 2px solid var(--nav_color) ;

    }
    .item input[type="password"]::placeholder,
    .item input[type="text"]::placeholder{
        color: rgba(55, 55, 55, 0.3);
    }
    .item input[type="password"]:focus,
    .item input[type="text"]:focus,
    .item input[type="password"]:active,
    .item input[type="text"]:active{
        border-color: red;
    }
    .icon{
        position: relative;
        left: 20px;
        fill: var(--nav_color);

        width: 20px;
        height: 20px;
    }
    .icons{
        display: none;
    }
    .text-member{
        font-size: .8rem;
        

    }
    .text-member a{
        color: tomato;
        text-align: center;
    }

    .submit >input[type="submit"]{
        background-color: var(--nav_color);
        border: none;
        padding: 10px 40px 10px 40px;
        border-radius: 15px;
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }
    
</style>

<section class="panel-signup">
    <div class="background">
        <img src="img/signup.jpg" alt="" />
    </div>
    <div class="dates-form">
        <form action="/signup" method="POST">
            
            <div class="form-img">
                <img src="img/dup.png" alt="" />
            </div>
            <div class="form-field">
                <div class="item">
                    <label for="login__username"><svg class="icon">
                            <use xlink:href="#icon-user"></use>
                        </svg></label>
                    <input autocomplete="username" id="login__username" type="text" name="name" class="form__input"
                        placeholder="Name" required />
                </div>
                <div class="item">
                    <label for="login__username"><svg class="icon">
                            <use xlink:href="#icon-user"></use>
                        </svg></label>
                    <input autocomplete="username" id="login__username" type="text" name="lastname" class="form__input"
                        placeholder="Last Name" required />
                </div>
                <div class="item">
                    <label for="login__username"><svg class="icon">
                            <use xlink:href="#icon-user"></use>
                        </svg></label>
                    <input autocomplete="username" id="login__username" type="text" name="phone" class="form__input"
                        placeholder="Phone" required />
                </div>
                <div class="item">
                    <label for="login__username"><svg class="icon">
                            <use xlink:href="#icon-user"></use>
                        </svg></label>
                    <input autocomplete="username" id="login__username" type="text" name="email" class="form__input"
                        placeholder="Email" required />
                </div>
                <div class="item">
                    <label for="login__password"><svg class="icon">
                            <use xlink:href="#icon-lock"></use>
                        </svg></label>
                    <input id="login__password" type="password" name="password" class="form__input"
                        placeholder="Password" required>
                </div>
                <div class="submit">
                    <input type="submit" value="Sign Up">
                </div>
            </div>
        </form>
        
    </div>

</section>

<svg class="icons">
    <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
        <path
            d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z">
        </path>
    </symbol>
    <symbol id="icon-lock" viewBox="0 0 1792 1792">
        <path
            d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z">
        </path>
    </symbol>
    <symbol id="icon-user" viewBox="0 0 1792 1792">
        <path
            d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z">
        </path>
    </symbol>
</svg>